body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-top: 70px;
    margin-bottom: 43px;
    text-align: center;
}

body.dark-mode h1 {
    color: #ffffff;
}

#csvFileInput, #sortOrder {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}

#csvFileInput:focus, #sortOrder:focus {
    outline: none;
}

body.dark-mode #csvFileInput,
body.dark-mode #sortOrder {
    background-color: #2c3e50;
    color: #ecf0f1;
    border: 0.5px solid #121217;
}

#filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card.viewed {
    opacity: 0.5;
}

body.dark-mode .card {
    background-color: #2C2C2C;
}

.card-title {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

body.dark-mode .card-title {
    color: #ffffff;
}

.card-subtitle {
    font-size: 1.1em;
    color: #7f8c8d;
    margin-bottom: 15px;
}

body.dark-mode .card-subtitle {
    color: #bdc3c7;
}

.card a {
    color: #3498db;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    margin-bottom: 15px;
}

.card a:hover {
    color: #2980b9;
}

body.dark-mode .card a {
    color: #5dade2;
}

body.dark-mode .card a:hover {
    color: #3498db;
}

label {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 0.9em;
    color: #7f8c8d;
}

body.dark-mode label {
    color: #bdc3c7;
}

label input[type="checkbox"] {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.theme-switch-wrapper {
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

input:checked + .slider {
    background-color: #3498db;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 600px) {
    #cards {
        grid-template-columns: 1fr;
    }
    
    h1 {
        font-size: 2em;
    }
}
